<div id="image_container">

</div>

<script type="text/javascript">


    $(function () {

        window.Spreader = new ImageSpreader('image_container');

        // Resize handle
        var resizeScreenWidth = window.innerWidth;
        var resizeTimer       = null;

        window.addEventListener('resize', function (event) {
            if (resizeScreenWidth !== window.innerWidth) {
                if (resizeTimer !== null) {
                    clearTimeout(resizeTimer);
                }
                resizeTimer = setTimeout(function () {
                    Spreader.redraw();
                    window.screen_width = window.innerWidth;
                }, 100);
            }
        });

    });


</script>