{% extends  'layout.twig' %}


{% block content %}

    <div class="container index_container">
        <a href="/" class="btn btn-success">Back</a>
    </div>

    {% include 'index/_image_container.twig' %}

    <script type="text/javascript">
        $(function () {
            var images = {{ images|json_encode|raw }};

            for (var ind = 0; ind < images.length; ind++) {
                window.Spreader.addImage(images[ind].path);
            }
        });
    </script>

{% endblock content %}


