{% extends  'layout.twig' %}



{% block headScripts %}
    <script src="/js/index.js"></script>
{% endblock %}

{% block content %}

    <div class="container index_container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_table_wrapper" style="display: none;">
                    <h2>Last request info</h2>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th scope="row">Time</th>
                            <td><span id="last_request_time">0</span></td>
                        </tr>
                        <tr>
                            <th scope="row">Images found</th>
                            <td><span id="last_request_found">0</span></td>
                        </tr>
                        <tr>
                            <th scope="row">Duplicates skipped</th>
                            <td><span id="last_request_duplicates">0</span></td>
                        </tr>
                        <tr>
                            <th scope="row">Total uploaded</th>
                            <td><span id="last_request_uploaded">0</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-5">
                <h2>Upload images by url</h2>
                <form id="upload_form">
                    <div class="form-group">
                        <label for="formInputUrl">Url</label>
                        <input name="url" type="text" class="form-control" id="formInputUrl" placeholder="Enter url" required value="http://mobitva.atom-bot.ru">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="formInputMinWidth">Min Width</label>
                                <input name="min_width" type="number" min="200" class="form-control" id="formInputMinWidth" placeholder="Enter minimal images width" required
                                       value="200">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <label for="formInputMinHeight">Min Height</label>
                                <input name="min_height" type="number" min="1" class="form-control" id="formInputMinHeight" placeholder="Enter minimal images height" required
                                       value="150">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Upload Images</button>
                    <div class="loader" style="display: none"></div>
                </form>
            </div>
            <div class="col-md-4" id="results_col">
                <h2>History</h2>
                {% if (uploadHistory|length) %}
                    <ul class="list-group history_list">
                        {% for upload in uploadHistory %}
                            <li class="list-group-item">
                                <span class="label label-info upload_date_label">{{ upload.created_at|date('Y-m-d H:i:s') }}</span>
                                <a href="/history/{{ upload.id }}">{{ upload.url |length > 50 ? upload.url |slice(0, 50) ~ '...' : upload.url }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'index/_image_container.twig' %}

{% endblock content %}



