.index_container {
    margin-top: 5vh;
}

.history_list {
    overflow-y: auto;
    max-height: 200px;
}

.upload_date_label {
    float: right;
}

#image_container {
    width: 100%;
    height: auto;
    margin-top: 5vh;
    background-color: #fff;
}

.image_row {
    display: -webkit-inline-flex;
    display: inline-flex;
    width: 100%;
    background-color: #fff;
}

.image_wrapper {
    position: relative;
    background-color: #9acfea;
    border: solid 5px #fff;
    overflow: hidden;
}

.image_wrapper:not(:first-child) {
    margin-left: auto;
}

.image_wrapper:not(:last-child) {
    margin-right: auto;
}

.loader {
    float: right;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 34px;
    height: 34px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}