<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tile Expert Test</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/image-spreader.js"></script>

    {% block headScripts %}
    {% endblock %}
</head>
<body>
{% block content %}

{% endblock %}
{% block bodyScripts %}
{% endblock %}
</body>
</html>